@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(to bottom,#f1f4f9, #dff1ff);
}
.color {
    position: absolute;
    filter: blur(150px);
    z-index: -1;
}
.color:nth-child(1) {
    top: -350px;
    width: 1000px;
    height: 600px;
    background: #e74e9b;
}
.color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 700px;
    height: 800px;
    background: #fffd87;
}
.color:nth-child(3) {
    bottom: 50px;
    right: 80px;
    width: 600px;
    height: 600px;
    background: #87b7ff;
}

.topbar {
    width:100%;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.textin {
    width: 80%;
    background: rgba(255,255,255,0.2);
    outline: none;
    margin: 10px 20px;
    padding: 8px 16px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 35px;
    font-size: 14px;
    color: rgb(88, 88, 88);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.btn {
    margin: 10px 20px;
    padding: 8px 16px;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 35px;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    width: 80%;
    background: rgba(255,255,255,0.2);
    margin: 10px 20px;
    padding: 8px 16px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 35px;
    font-size: 14px;
    color: rgb(88, 88, 88);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.time {
    font-size: 8px;
}